// build:css assets/css/bootstrap-grunt-less-pug-style.min.css
link(href='../bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
link(href='assets/css/style.css', rel='stylesheet')
// endbuild